.product {
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
        margin: 0 20px;
        width: 100%;
        max-width: 1300px;
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;

        @include desktop {
            flex-direction: row;
        }
    }

    &__images {
        width: 100%;
        display: flex;
        // justify-content: center;
        // gap: 1rem;
        // flex-wrap: wrap;

        @include desktop {
            display: initial;
            // justify-content: flex-start;
        }
    }

    &__img {
        // max-height: 450px;
        // width: 100%;
        // object-fit: contain;
        max-width: 100%;
        max-height: 100%;
        flex-grow: 1;
        background: $clr-primary-800;
    }

    &__info {
        flex-shrink: 3;
    }

    &__price {
        margin: 2rem 0;
        color: $clr-primary-400;
        font-size: 1.5rem;
    }

    &__button {
        background: $clr-primary-800;
        border: none;
        outline: none;
        width: 100%;
        color: $clr-light;
        padding: 1rem;
        font-size: 1.1rem;
        margin-bottom: 2rem;
        border-radius: 50px;
    }

    &__description {
        text-align: justify;
        line-height: 1.8;
    }
}
